   
form label {
 font-weight: bold;
}

input {
    margin-bottom: 8px;
    border-radius: 5px;
    border: 3px groove;
    background-color: steelblue;
    color: white;
}

input:focus {
    background-color: aliceblue;
    color: black;
}

.clDisplay {
    margin: 0px auto;
    background-color: white;
    
}
body {
    padding-left: 500px;
    padding-right: 500px;
    font-family: Georgia, "Times New Roman";
    background-color:lightblue;
    
 }

 form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    margin: 0px 0;
    
}

.div1 {
    display: flex;
}

#titulo {
    text-shadow: 2px 2px;
}

button{
    background-color:midnightblue;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    color: white;
}
